# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/

# Data (keep raw Kaggle files OUT of git)
data/
!data/.gitkeep

# Reports/figures (optional)
# If you want to keep EDA summary but not images, use:
# reports/figures/
